<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="beanCalculatorService" class="com.example.CalculatorService" scope="prototype">
        <!-- collaborators and configuration for this bean go here -->
    </bean>

    <bean id="beanFactureGestor" class="com.example.FactureGestor">
        <constructor-arg name="calculator" ref="beanCalculatorService"/>
        <constructor-arg name="nombre" value="Facturator 3000"/>
        <!-- collaborators and configuration for this bean go here -->
    </bean>


</beans>